#dws-slider{
	width:60%;
	margin-left:19%;
	/*margin-top:10%;*/
}

.carousel-caption{
	position: absolute;
/* 	background-color: orange; */
	width: 60%;
	height: 50%;
	margin-left: 10%;
	top:12%;
}

.carousel-inner h3 {
	font-size: 2.7vw;
/* 	margin-top: -8vw; */
/* 	color: #191919; */
/* 	background-color: rgba(20, 49, 68, 0.6);
	padding: 4%; */
}

.item img{
		margin-left: 2%;
	}